/* Balise PURE */

button {
    padding: 0.4rem 0.8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.2rem solid var(#060604);
    border-radius: 0.4rem;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
  
  }

/* header { 

} */

/* Header CSS */

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    
}

.menu_burger {
  display: none;
  gap: 0.5rem;
  flex-direction: column;
}

.menu_burger_btn{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.profile-dropdown {
  position: absolute;
  background-color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  z-index: 10; /* Ajustez cette valeur si nécessaire */
}

.profile-dropdown button {
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background-color: #f2f2f2;
}




/* searchbar CSS */

.search-bar{
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.input_search{
  width: 35%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--couleur-background) 0px 30px 60px -12px inset, var(--couleur-texte) 0px 18px 36px -18px inset;
  color: var(--couleur-texte);
  font-weight: 700;
  height: 4.8rem;
  text-align: center;
}

/* Tableaux central projet_lot */

.tabl{
  display: flex;
  justify-content: space-around
}

.t_header{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.global_t_content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.t_content{
border-bottom: 1px solid #000;
}

/* CSS propre à la page accueil */

.projet_add_btn{
  width: 100%;
}

/* CSS du panel présent sur le marché */
.marche-info{
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
}

.marche-info-container{
  display: flex;
  text-align: center;
  flex-direction: column
}


/* CSS sous tableau marché */

.tableau-container{
  display: flex;
  gap: 2%;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tableau-wrapper{
  width: 30%;
}

.sous-tableau-th, .sous-tableau-td{
  border-left: 2px solid #060604;
  border-right: 2px solid #060604;
}

.sous-tableau-row, .sous-tableau-header{
  border-bottom: 2px solid #060604;
}

.sous-tableau{
  width: 100%;
  
}

/* authentification css */


.auth_part{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 35%;
  left: 42%;
  text-align: center;
}

.form-login{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.login-redi{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-reset{
  display: flex;
  flex-direction: column;
}

.sign-in-container{
  position: absolute;
  top: 25%;
  left: 42%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.form-sign{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-hover{
  text-decoration: none; 
  color: inherit;
  
}

.link-hover:hover{
  font-weight: 700;
  font-size: 1.8rem;
}