.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .login-container {
    /* Styles spécifiques au composant de connexion */
  }
  
  .reset-container {
    /* Styles spécifiques au composant de réinitialisation du mot de passe */
  }
  
  .sign-in-container {
    /* Styles spécifiques au composant d'inscription */
  }
  