@font-face {
  font-display: swap; 
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/oxygen-v15-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/oxygen-v15-latin-700.woff2') format('woff2'); 
}

/* Couleurs de base */
:root {
  --couleur-accent: #F7B923;
  --couleur-hover: #FCDE09;
  --couleur-background: #d6d6d642;
  --couleur-texte: #060604;
  --couleur-texte2: #fff;
}

button {
  background-color: var(--couleur-accent);
  color: var(--couleur-texte2); /* ou blanc si cela rend mieux */
}

button:hover {
  background-color: var(--couleur-hover);
}

body {
  background-color: var(--couleur-background);
  color: var(--couleur-texte);
}

html{
  font-family: 'Oxygen';
  font-weight: 400;
}

header{
  background-color: var(--couleur-background);
}